@using FinalProject.Models;
@{
    ViewBag.Title = "Admin";
}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<h2>Management Product <a href="/Admin/Add/" class="btn btn-success">Add new</a></h2> 
@if (((List<Product>)ViewData["Products"]).Count > 0)
{
    <table>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Price</th>
        </tr>
        @foreach (var product in ViewData["Products"] as IList<Product>)
        {
                <tr>
                    <td>@product.ID</td>
                <td>
                    <a href="/Admin/Detail/@product.ID">@product.Name</a></td>
                <td>@product.Price</td>
            </tr>
        }
    </table>
}
else
{
    <p>No products</p>

}

@if (ViewBag.message != null)
{
    <p style="color: @ViewBag.color">@ViewBag.message</p>
}